<head>
<!--
YYYYY                   YYYYY   LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE               AAAAA               DDDDDDDDDDDDDDDD
  YYYYY               YYYYY     LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE              AAAAAAA              DDDDDDDDDDDDDDDDDDDDD
    YYYYY           YYYYY       LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE             AAAAAAAAA             DDDDDDDDDDDDDDDDDDDDDDDD
      YYYYY       YYYYY         LLLLL                           EEEEE                                    AAAAA AAAAA            DDDDD            DDDDDDDDDD
        YYYYY   YYYYY           LLLLL                           EEEEE                                   AAAAA   AAAAA           DDDDD               DDDDDDDD
          YYYYYYYYY             LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE          AAAAAAAAAAAAAAA          DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE         AAAAAAAAAAAAAAAAA         DDDDD                  DDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE        AAAAAAAAAAAAAAAAAAA        DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEE                               AAAAA           AAAAA       DDDDD               DDDDDDDD
            YYYYY               LLLLL                           EEEEE                              AAAAA             AAAAA      DDDDD            DDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE     AAAAA               AAAAA     DDDDDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE    AAAAA                 AAAAA    DDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE   AAAAA                   AAAAA   DDDDDDDDDDDDDDDD
-->

	<title>
		About Y.LEAD
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
	<link rel="stylesheet" type= "text/css" href="../static/about/about.css">
	<link href="../static/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/bootstrap.css">
	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/popper.js"></script>
	<script type="text/javascript" src="../static/bootstrap.js"></script>
	<script type="text/javascript" src="../static/about/jquery.cloud9carousel.js"></script>
</head>

<body>
	<div id="menu">
		<nav class="navbar navbar-light">
			<a class="navbar-brand" href="../templates/home.html" draggable="false">
				<img class="img-responsive" src="../static/logo.png" height="30" draggable="false">
			</a>
			<button id="menu-open" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button id="menu-close" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				&#10005;
			</button>
		</nav>
		<div class="collapse" id="navbar">
			<div id="accordion" role="tablist">
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="about">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#aboutc" aria-expanded="true" aria-controls="aboutc" draggable="false">
								ABOUT
							</a>
						</h4>
					</div>
					<div id="aboutc" class="collapse" role="tabpanel" aria-labelledby="about" data-parent="#accordion">
						<div class="card-body">	
							<a class="link" href="../templates/about.html" draggable="false">
								ABOUT Y.LEAD
							</a><br>
							<a class="link" href="../templates/themes.html" draggable="false">
								Y.LEAD THEMES
							</a><br>
							<!--<a class="link" href="../templates/principals_words.html" draggable="false">
								PRINCIPAL'S WORDS
							</a>--><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="programmes">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#programmesc" aria-expanded="true" aria-controls="programmesc" draggable="false">
								PROGRAMMES
							</a>
						</h4>
					</div>
					<div id="programmesc" class="collapse" role="tabpanel" aria-labelledby="programmes" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/programs.html">
								PROGRAMME FLOW
							</a><br>
							<a class="link" href="../templates/opening_ceremony.html" draggable="false">
								OPENING CEREMONY
							</a><br>
							<a class="link" href="../templates/leadership_character_development.html" draggable="false">
								LEADERSHIP CHARACTER DEVELOPMENT
							</a><br>
							<a class="link" href="../templates/learning_journeys.html" draggable="false">
								LEARNING JOURNEYS
							</a><br>
							<a class="link" href="../templates/fifteen_hours_challenge.html" draggable="false">
								15-HOUR CHALLENGE
							</a><br>
							<a class="link" href="../templates/panel_discussion.html" draggable="false">
								PANEL DISCUSSIONS
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="information">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#informationc" aria-expanded="true" aria-controls="informationc" draggable="false">
								INFORMATION
							</a>
						</h4>
					</div>
					<div id="informationc" class="collapse" role="tabpanel" aria-labelledby="information" data-parent="#accordion">
						<div class="card-body">
							<!--<a class="link" href="../templates/participating_schools.html" draggable="false">
								PARTICIPATING SCHOOLS
							</a><br>-->
							<a class="link" href="../templates/packing_list.html" draggable="false">
								PACKING LIST
							</a><br>
							<a class="link" href="../templates/questions_n_answers.html" draggable="false">
								QUESTIONS AND ANSWERS
							</a><br>
							<a class="link" href="../templates/documents_for_overseas_participants.html" draggable="false">
								DOCUMENTS FOR OVERSEAS PARTICIPANTS
							</a><br>
						</div>
					</div>
				</div>
				<!--<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="interviews">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#interviewsc" aria-expanded="true" aria-controls="interviewsc" draggable="false">
								INTERVIEWS
							</a>
						</h4>
					</div>
					<div id="interviewsc" class="collapse" role="tabpanel" aria-labelledby="interviewsc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/pre-event_interviews.html" draggable="false">
								PRE-EVENT INTERVIEWS
							</a><br>
							<a class="link" href="../templates/fam_lead.html" draggable="false">
								FAM LEAD
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="articles">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#articlesc" aria-expanded="true" aria-controls="articlesc" draggable="false">
								ARTICLES
							</a>
						</h4>
					</div>
					<div id="articlesc" class="collapse" role="tabpanel" aria-labelledby="articlesc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/smart_city.html" draggable="false">
								SMART CITY
							</a><br>
							<a class="link" href="../templates/changemakers.html" draggable="false">
								CHANGEMAKERS
							</a><br>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<div id="ask" class="row">
		<div>
			<i class="far fa-comment-alt"></i>&nbsp;
		</div>
		<div>
			<a id="ask-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdRlsaZh9XVAyM3XoMN2t5ihVWnaX_2V0_jb8opIfZguNSKiQ/viewform" draggable="false">
				SEND FEEDBACK
			</a>
		</div>
	</div>
	<div id="introduction" class="container-fluid">
		<div id="img-heading">
			<img src="../static/about/about_heading.png" width="100%">
		</div>
		<p id="about-description">
			Since 2010, River Valley High School has been organising leadership seminars to prepare its cohort of students with the competencies that are essential for the twenty-first century. Over the years, the school’s leadership programme has attracted both local and overseas student participants.<br>
			<!--<br>
			This year, Y.LEAD will be held from 5 to 9 March.<br>-->
			<br>
			The Y.LEAD Seminar is a week-long event comprising of a 15-Hour Challenge, Panel Discussions and several learning journeys, designed to facilitate experiential learning. At the same time, it is a platform for teenagers (of ages 15 to 17) from various schools in Singapore and different parts of the world, to acquire a heightened awareness of global social challenges, a values-based understanding of the role of leaders and a useful set of leadership skills. <!--This is the 6th year of Y.LEAD.-->
		</p>
	</div>
	<div id="carousel">
		<div id="L" class="cloud9-item">
			L
		</div>
		<div id="D" class="cloud9-item">
			D
		</div>
		<div id="A" class="cloud9-item">
			A
		</div>
		<div id="E" class="cloud9-item">
			E
		</div>
	</div>
	<div id="descriptions">
		<div class="container" id="L-description">
			<h1 class="word">
				<span class="letter">L</span>EVERAGE
			</h1>
			<p class="word-description">
				To be able to identify strengths and weaknesses as the fulcrums of change. Leaders have to understand the fundamentals of human psychology and accept that while members of a team could have different personalities and preferences, they could also offer complementary skills that must be tapped. The ability to influence our peers so as to build cohesive teams is also important to utilise a multiplier effect for the team’s capability.
			</p>
		</div>
		<div class="container" id="E-description">
			<h1 class="word">
				<span class="letter">E</span>DUCATE
			</h1>
			<p class="word-description">
				To value learning and to see it as a continual process for leaders and the team. Leaders should see that to address shortcomings and to extend the capabilities of the team, there are skills that can be acquired through training. Leaders should also see that they need to be open to learning from experiences through reflective practice. The importance of educating oneself as preparation for any task is also highlighted so that projects are undertaken with the knowledge gleaned from past success or failures.
			</p>
		</div>
		<div class="container" id="A-description">
			<h1 class="word">
				<span class="letter">A</span>CTUATE
			</h1>
			<p class="word-description">
				To transform planning and thought into action, carrying out the project to create change. Leaders have to learn how to systematically manage the process and deal with the ad-hoc challenges that crop up unexpectedly. The ability to construct a timeline and design the workflow should also be present in leaders.
			</p>
		</div>
		<div class="container" id="D-description">
			<h1 class="word">
				<span class="letter">D</span>EVELOP
			</h1>
			<p class="word-description">
				To grow, groom and produce other leaders as part of their vision of leadership. Leaders have to take on the responsibility of identifying suitable candidates as future leaders so that the continuity of the team is assured. Ultimately, good leaders serve to inspire future leaders to take up the responsibility of guiding, caring and developing the next generation of leaders.
			</p>
		</div>
		<a href="../templates/themes.html" class="headings">
			&nbsp;&nbsp;LEARN MORE ABOUT THIS YEAR'S THEME&nbsp;&nbsp;
		</a>
	</div>
	<footer class="container-fluid">
		<div class="row">
			<div id="copyright">
				<img class="img-responsive" src="../static/logo1.png" alt="Logo" width="20%" draggable="false"><br>
				Organised by River Valley High School, Singapore<br>
				Website created by the Y.LEAD Organising Committee. All rights reserved.
			</div>
			<div id="contacts">
				CONTACT US<br>
				<a href="https://www.instagram.com/y.leadofficial/"><i class="fab fa-instagram contacts-icon" draggable="false"></i></a>
				<a href="https://www.youtube.com/channel/UC0i1jQlubH4igqXM27k2_Mw"><i class="fab fa-youtube contacts-icon" draggable="false"></i></i></a>
			</div>
		</div>
	</footer>
	<script src="../static/about/about.js"></script>
</body>

<!--
	Coding done by Zhang Jikun
	Brought to you by Y.LEAD Publicity Committee
-->