<head>
<!--
YYYYY                   YYYYY   LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE               AAAAA               DDDDDDDDDDDDDDDD
  YYYYY               YYYYY     LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE              AAAAAAA              DDDDDDDDDDDDDDDDDDDDD
    YYYYY           YYYYY       LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE             AAAAAAAAA             DDDDDDDDDDDDDDDDDDDDDDDD
      YYYYY       YYYYY         LLLLL                           EEEEE                                    AAAAA AAAAA            DDDDD            DDDDDDDDDD
        YYYYY   YYYYY           LLLLL                           EEEEE                                   AAAAA   AAAAA           DDDDD               DDDDDDDD
          YYYYYYYYY             LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE          AAAAAAAAAAAAAAA          DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE         AAAAAAAAAAAAAAAAA         DDDDD                  DDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE        AAAAAAAAAAAAAAAAAAA        DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEE                               AAAAA           AAAAA       DDDDD               DDDDDDDD
            YYYYY               LLLLL                           EEEEE                              AAAAA             AAAAA      DDDDD            DDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE     AAAAA               AAAAA     DDDDDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE    AAAAA                 AAAAA    DDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE   AAAAA                   AAAAA   DDDDDDDDDDDDDDDD
-->

	<title>
		Travel Singapore Guide
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
	<link rel="stylesheet" type= "text/css" href="../static/information/documents_for_overseas_participants.css">
	<link href="../static/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/bootstrap.css">
	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/popper.js"></script>
	<script type="text/javascript" src="../static/bootstrap.js"></script>
</head>

<body>
	<div id="menu">
		<nav class="navbar navbar-light">
			<a class="navbar-brand" href="../templates/home.html" draggable="false">
				<img class="img-responsive" src="../static/logo.png" height="30" draggable="false">
			</a>
			<button id="menu-open" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button id="menu-close" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				&#10005;
			</button>
		</nav>
		<div class="collapse" id="navbar">
			<div id="accordion" role="tablist">
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="about">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#aboutc" aria-expanded="true" aria-controls="aboutc" draggable="false">
								ABOUT
							</a>
						</h4>
					</div>
					<div id="aboutc" class="collapse" role="tabpanel" aria-labelledby="about" data-parent="#accordion">
						<div class="card-body">	
							<a class="link" href="../templates/about.html" draggable="false">
								ABOUT Y.LEAD
							</a><br>
							<a class="link" href="../templates/themes.html" draggable="false">
								Y.LEAD THEMES
							</a><br>
							<!--<a class="link" href="../templates/principals_words.html" draggable="false">
								PRINCIPAL'S WORDS
							</a>--><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="programmes">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#programmesc" aria-expanded="true" aria-controls="programmesc" draggable="false">
								PROGRAMMES
							</a>
						</h4>
					</div>
					<div id="programmesc" class="collapse" role="tabpanel" aria-labelledby="programmes" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/programs.html">
								PROGRAMME FLOW
							</a><br>
							<a class="link" href="../templates/opening_ceremony.html" draggable="false">
								OPENING CEREMONY
							</a><br>
							<a class="link" href="../templates/leadership_character_development.html" draggable="false">
								LEADERSHIP CHARACTER DEVELOPMENT
							</a><br>
							<a class="link" href="../templates/learning_journeys.html" draggable="false">
								LEARNING JOURNEYS
							</a><br>
							<a class="link" href="../templates/fifteen_hours_challenge.html" draggable="false">
								15 HOUR CHALLENGE
							</a><br>
							<a class="link" href="../templates/panel_discussion.html" draggable="false">
								PANEL DISCUSSION
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="information">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#informationc" aria-expanded="true" aria-controls="informationc" draggable="false">
								INFORMATION
							</a>
						</h4>
					</div>
					<div id="informationc" class="collapse" role="tabpanel" aria-labelledby="information" data-parent="#accordion">
						<div class="card-body">
							<!--<a class="link" href="../templates/participating_schools.html" draggable="false">
								PARTICIPATING SCHOOLS
							</a><br>-->
							<a class="link" href="../templates/packing_list.html" draggable="false">
								PACKING LIST
							</a><br>
							<a class="link" href="../templates/questions_n_answers.html" draggable="false">
								QUESTIONS AND ANSWERS
							</a><br>
							<a class="link" href="../templates/documents_for_overseas_participants.html" draggable="false">
								DOCUMENTS FOR OVERSEAS PARTICIPANTS
							</a><br>
						</div>
					</div>
				</div>
				<!--<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="interviews">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#interviewsc" aria-expanded="true" aria-controls="interviewsc" draggable="false">
								INTERVIEWS
							</a>
						</h4>
					</div>
					<div id="interviewsc" class="collapse" role="tabpanel" aria-labelledby="interviewsc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/pre-event_interviews.html" draggable="false">
								PRE-EVENT INTERVIEWS
							</a><br>
							<a class="link" href="../templates/fam_lead.html" draggable="false">
								FAM LEAD
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="articles">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#articlesc" aria-expanded="true" aria-controls="articlesc" draggable="false">
								ARTICLES
							</a>
						</h4>
					</div>
					<div id="articlesc" class="collapse" role="tabpanel" aria-labelledby="articlesc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/smart_city.html" draggable="false">
								SMART CITY
							</a><br>
							<a class="link" href="../templates/changemakers.html" draggable="false">
								CHANGEMAKERS
							</a><br>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
		<div id="introduction">
			<div id="intro-header" class="header">
				INTRODUCTION
			</div>
			<div id="intro-description">
				Singapore is a small country, located in Southeast Asia, and is commonly known as the “Little Red Dot”. It is a multi-racial country, with Chinese making up the bulk of the population, followed by Malays, Indians and Eurasians.
			</div>
		</div>
		<div id="food">
			<div id="food-header" class="header">
				FOOD
			</div>
			<div id="food-description">
				Singapore is known to be a food paradise, offering food from many different parts of the world. Here are a few local dishes that we recommend trying!
			</div>
			<div id="food-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active" id="nasi_lemak">
						<img src="../static/information/nasi_lemak.png" width="100%" draggable="false">
						<div class="carousel-caption d-md-block">
							<span class="food-title">Nasi Lemak</span> is a Malay dish, which is popular among almost all locals. It is served with cucumbers, eggs, fish/chicken and many more. Its fragrant rice is cooked with coconut milk and pandan leaves.
						</div>
					</div>
					<div class="carousel-item row" id="char_kway_teow">
						<img src="../static/information/char_kway_teow.png" width="100%" draggable="false">
						<div class="carousel-caption d-md-block">
							<span class="food-title">Char Kway Teow</span> is a Chinese dish, which is enjoyed by many locals. It is made from ricecake strips, served with simple ingredients. This dish can also be easily spotted in hawker centres!
						</div>
					</div>
					<div class="carousel-item row" id="laksa">
						<img src="../static/information/laksa.png" width="100%" draggable="false">
						<div class="carousel-caption d-md-block">
							<span class="food-title">Laksa</span> is a spicy noodle soup, which is served with fishcake, egg, prawns and many more. With a creamy and spicy broth, it is one of Singaporeans' favourite local dishes.
						</div>
					</div>
					<div class="carousel-item row" id="roti_prata">
						<img src="../static/information/roti_prata.png" width="100%" draggable="false">
						<div class="carousel-caption d-md-block">
							<span class="food-title">Roti Prata</span> is an Indian dish, which is commonly served with curry. It can be eaten plain, with egg, or even with cheese. It is definitely one of the top 5 local dishes we recommend you to try.
						</div>
					</div>
					<div class="carousel-item row" id="rojak">
						<img src="../static/information/rojak.png" width="100%" draggable="false">
						<div class="carousel-caption d-md-block">
							<span class="food-title">Rojak</span> is a local salad of mixed vegetables, fruits, and dough fritters; covered in a sticky sweet sauce and garnished with chopped peanuts and finely-cut fragrant ginger flowers.
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#food-carousel" role="button" data-slide="prev" draggable="false">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#food-carousel" role="button" data-slide="next" draggable="false">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div id="locations">
			<div id="locations-header" class="header">
				ICONIC LOCATIONS
			</div>
			<div class="row">
				<div class="locations-item col-sm-4">
					<a class="locations-item-button collapsed" data-toggle="collapse" href="#description-merlion" role="button" aria-expanded="false" aria-controls="description-merlion" draggable="false">
						<img class="locations-img" src="../static/information/merlion.png" width="100%" draggable="false">
						<div class="locations-title">
							MERLION
						</div>
					</a>
					<div class="locations-description collapse" id="description-merlion">
						With the head of a lion and the body of a fish, the Merlion symbolizes both Singapore's humble beginnings as a fishing village and also the prospoerous 'Lion City' which we are today.
					</div>
				</div>
				<div class="locations-item col-sm-4">
					<a class="locations-item-button collapsed" data-toggle="collapse" href="#description-sbg" role="button" aria-expanded="false" aria-controls="description-sbg" draggable="false">
						<img class="locations-img" src="../static/information/sbg.png" width="100%" draggable="false">
						<div class="locations-title">
							SINGAPORE BOTANIC GARDENS
						</div>
					</a>
					<div class="locations-description collapse" id="description-sbg">
						As a UNESCO heritage site, the Botanic Gardens is the perfect spot to unwind and immerse yourself within the flora and fauna of Singapore, and is a must-see in Singapore!
					</div>
				</div>
				<div class="locations-item col-sm-4">
					<a class="locations-item-button collapsed" data-toggle="collapse" href="#description-gbtb" role="button" aria-expanded="false" aria-controls="description-gbtb" draggable="false">
						<img class="locations-img" src="../static/information/gbtb.png" width="100%" draggable="false">
						<div class="locations-title">
							GARDENS BY THE BAY
						</div>
					</a>
					<div class="locations-description collapse" id="description-gbtb">
						Enjoy a breath-taking waterfront view by taking a trip to Gardens by the Bay! Inspired by an orchid, the design resembles Singapore's National Flower, Vanda 'Miss Joaquim'. You can't miss the 9 to 16 storeys tall massive Supertrees here.
					</div>
				</div>
			</div>
		</div>
		<div id="dos_n_donts">
			<div id="dos_n_donts-header" class="header">
				DOs &amp; DON'Ts
			</div>
			<div id="dos_n_donts-content" class="row">
				<div id="dos" class="col-md-6">
					<div id="donts-title">
						DOs
					</div>
					<ul id="dos-list">
						<li class="dos-item row">
							<div>
								<i class="far circle fa-check-circle"></i>
							</div>
							<div class="dos-item-description col">
								Dress appropriately
							</div>
						</li>
						<li class="dos-item row">
							<div>
								<i class="far circle fa-check-circle"></i>
							</div>
							<div class="dos-item-description col">
								Bring an umbrella
							</div>
						</li>
						<li class="dos-item row">
							<div>
								<i class="far circle fa-check-circle"></i>
							</div>
							<div class="dos-item-description col">
								Bring a cap
							</div>
						</li>
						<li class="dos-item row">
							<div>
								<i class="far circle fa-check-circle"></i>
							</div>
							<div class="dos-item-description col">
								Bring a power socket adaptor for Type G plug.
								<img class="dos_n_donts-img" src="../static/information/adaptor.png" draggable="false"><br>
								Voltage is 230 V and the standard frequency is 50 Hz.
							</div>
						</li>
					</ul>
				</div>
				<div id="donts" class="col-md-6">
					<div id="dos-title">
						DON'Ts
					</div>
					<ul id="donts-list">
						There are many things that are illegal under the law of Singapore that we have to take note of
						<li class="donts-item row">
							<div>
								<i class="far circle fa-times-circle"></i>
							</div>
							<div class="dos-item-description col">
								Eat / Drink on public transport 
							</div>
						</li>
						<li class="donts-item row">
							<div>
								<i class="far circle fa-times-circle"></i>
							</div>
							<div class="dos-item-description col">
								Litter
							</div>
						</li>
						<li class="donts-item row">
							<div>
								<i class="far circle fa-times-circle"></i>
							</div>
							<div class="dos-item-description col">
								Bring/Eat chewing gum
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="amenities-header" class="header">
			AMENITIES
		</div>
		<div id="amenities">
			<iframe src="https://drive.google.com/file/d/1-L6dm-LmuKIGvnVOitKBVo7Nvk23zT9X/preview" width="100%" height="100%"></iframe>
		</div>
	<footer class="container-fluid">
		<div class="row">
			<div id="copyright">
				<img class="img-responsive" src="../static/logo1.png" alt="Logo" width="20%" draggable="false"><br>
				Organised by River Valley High School, Singapore<br>
				Website created by the Y.LEAD Organising Committee. All rights reserved.
			</div>
			<div id="contacts">
				CONTACT US<br>
				<a href="https://www.instagram.com/y.leadofficial/"><i class="fab fa-instagram contacts-icon" draggable="false"></i></a>
				<a href="https://www.youtube.com/channel/UC0i1jQlubH4igqXM27k2_Mw"><i class="fab fa-youtube contacts-icon" draggable="false"></i></i></a>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="../static/information/documents_for_overseas_participants.js"></script>
</body>

<!--
	Coding done by Zhang Jikun
	Brought to you by Y.LEAD Publicity Committee
-->