<html class="gr__rivervalleyhigh_moe_edu_sg"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!--
	YYYYY                   YYYYY   LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE               AAAAA               DDDDDDDDDDDDDDDD
	  YYYYY               YYYYY     LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE              AAAAAAA              DDDDDDDDDDDDDDDDDDDDD
		YYYYY           YYYYY       LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE             AAAAAAAAA             DDDDDDDDDDDDDDDDDDDDDDDD
		  YYYYY       YYYYY         LLLLL                           EEEEE                                    AAAAA AAAAA            DDDDD            DDDDDDDDDD
			YYYYY   YYYYY           LLLLL                           EEEEE                                   AAAAA   AAAAA           DDDDD               DDDDDDDD
			  YYYYYYYYY             LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE          AAAAAAAAAAAAAAA          DDDDD                 DDDDDDD
				YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE         AAAAAAAAAAAAAAAAA         DDDDD                  DDDDDD
				YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE        AAAAAAAAAAAAAAAAAAA        DDDDD                 DDDDDDD
				YYYYY               LLLLL                           EEEEE                               AAAAA           AAAAA       DDDDD               DDDDDDDD
				YYYYY               LLLLL                           EEEEE                              AAAAA             AAAAA      DDDDD            DDDDDDDDDD
				YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE     AAAAA               AAAAA     DDDDDDDDDDDDDDDDDDDDDDDD
				YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE    AAAAA                 AAAAA    DDDDDDDDDDDDDDDDDDDDD
				YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE   AAAAA                   AAAAA   DDDDDDDDDDDDDDDD
	-->
	
		<title>
			Home
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../static/Home/home.css">
		<link href="../static/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/bootstrap.css">
		<script type="text/javascript" src="../static/jquery.js"></script>
		<script type="text/javascript" src="../static/popper.js"></script>
		<script type="text/javascript" src="../static/bootstrap.js"></script>
	
	</head>
	
	<body data-gr-c-s-loaded="true">
		<div id="menu">
			<nav class="navbar navbar-light">
				<a class="navbar-brand" href="../templates/home.html" draggable="false">
					<img class="img-responsive" src="../static/logo.png" draggable="false" height="30">
				</a>
				<button id="menu-open" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button id="menu-close" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
					✕
				</button>
			</nav>
			<div class="collapse" id="navbar">
				<div id="accordion" role="tablist">
					<div class="card menu-card">
						<div class="card-header menu-card-header" role="tab" id="about">
							<h4>
								<a class="link-header" data-toggle="collapse" href="#aboutc" aria-expanded="true" aria-controls="aboutc" draggable="false">
									ABOUT
								</a>
							</h4>
						</div>
						<div id="aboutc" class="collapse" role="tabpanel" aria-labelledby="about" data-parent="#accordion">
							<div class="card-body">	
								<a class="link" href="../templates/about.html" draggable="false">
									ABOUT Y.LEAD
								</a><br>
								<a class="link" href="../templates/themes.html" draggable="false">
									Y.LEAD THEMES
								</a><br>
								<a class="link" href="../templates/webisodes.html" draggable="false">
									WEBISODES
								</a><br>
								<!-- <a class="link" href="/qql/slot/u739/templates/principals_words.html" draggable="false">
									PRINCIPAL'S WORDS
								</a><br>
  -->							</div>
						</div>
					</div>
					<div class="card menu-card">
						<div class="card-header menu-card-header" role="tab" id="programmes">
							<h4>
								<a class="link-header" data-toggle="collapse" href="#programmesc" aria-expanded="true" aria-controls="programmesc" draggable="false">
									PROGRAMMES
								</a>
							</h4>
						</div>
						<div id="programmesc" class="collapse" role="tabpanel" aria-labelledby="programmes" data-parent="#accordion">
							<div class="card-body">
								<a class="link" href="../templates/programs.html">
									PROGRAMME FLOW
								</a><br>
								<a class="link" href="../templates/opening_ceremony.html" draggable="false">
									OPENING CEREMONY
								</a><br>
								<a class="link" href="../templates/leadership_character_development.html" draggable="false">
									LEADERSHIP CHARACTER DEVELOPMENT
								</a><br>
								<a class="link" href="../templates/learning_journeys.html" draggable="false">
									LEARNING JOURNEYS
								</a><br>
								<a class="link" href="../templates/fifteen_hours_challenge.html" draggable="false">
									15-HOUR CHALLENGE
								</a><br>
								<a class="link" href="../templates/panel_discussion.html" draggable="false">
									PANEL DISCUSSIONS
								</a><br>
							</div>
						</div>
					</div>
					<div class="card menu-card">
						<div class="card-header menu-card-header" role="tab" id="information">
							<h4>
								<a class="link-header" data-toggle="collapse" href="#informationc" aria-expanded="true" aria-controls="informationc" draggable="false">
									INFORMATION
								</a>
							</h4>
						</div>
						<div id="informationc" class="collapse" role="tabpanel" aria-labelledby="information" data-parent="#accordion">
							<div class="card-body">
								<!--<a class="link" href="/qql/slot/u739/templates/participating_schools.html" draggable="false">
									PARTICIPATING SCHOOLS
								</a><br>
  -->								<a class="link" href="../templates/packing_list.html" draggable="false">
									PACKING LIST
								</a><br>
								<a class="link" href="../templates/questions_n_answers.html" draggable="false">
									QUESTIONS AND ANSWERS
								</a><br>
								<a class="link" href="../templates/documents_for_overseas_participants.html" draggable="false">
									DOCUMENTS FOR OVERSEAS PARTICIPANTS
								</a><br>
							</div>
						</div>
					</div>
					<!--<div class="card menu-card">
						<div class="card-header menu-card-header" role="tab" id="interviews">
							<h4>
								<a class="link-header" data-toggle="collapse" href="#interviewsc" aria-expanded="true" aria-controls="interviewsc" draggable="false">
									INTERVIEWS
								</a>
							</h4>
						</div>
						<div id="interviewsc" class="collapse" role="tabpanel" aria-labelledby="interviewsc" data-parent="#accordion">
							<div class="card-body">
								<a class="link" href="/qql/slot/u739/templates/pre-event_interviews.html" draggable="false">
									PRE-EVENT INTERVIEWS
								</a><br>
								<a class="link" href="/qql/slot/u739/templates/fam_lead.html" draggable="false">
									FAM LEAD
								</a><br>
							</div>
						</div>
					</div>
	-->				<!-- <div class="card menu-card">
						<div class="card-header menu-card-header" role="tab" id="articles">
							<h4>
								<a class="link-header" data-toggle="collapse" href="#articlesc" aria-expanded="true" aria-controls="articlesc" draggable="false">
									ARTICLES
								</a>
							</h4>
						</div>
						<div id="articlesc" class="collapse" role="tabpanel" aria-labelledby="articlesc" data-parent="#accordion">
							<div class="card-body">
								<a class="link" href="/qql/slot/u739/templates/smart_city.html" draggable="false">
									SMART CITY
								</a><br>
								<a class="link" href="/qql/slot/u739/templates/changemakers.html" draggable="false">
									CHANGEMAKERS
								</a><br>
							</div>
						</div>
					</div>
			-->	</div>
		</div>
		</div>
		<!--
		<div id="ask" class="row">
			<div>
				<i class="far fa-comment-alt"></i>&nbsp;
			</div>
			<div>
				<a id="ask-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdRlsaZh9XVAyM3XoMN2t5ihVWnaX_2V0_jb8opIfZguNSKiQ/viewform" draggable="false">
					SEND FEEDBACK
				</a>
			</div>
		</div>
		-->
		<div id="loading-screen">
			<div id="loading-text" draggable="false">
				<span id="loading-1" class="loading-letter">
					L
				</span>
				<span id="loading-2" class="loading-letter">
					E
				</span>
				<span id="loading-3" class="loading-letter">
					A
				</span>
				<span id="loading-4" class="loading-letter">
					D
				</span>
				<span id="loading-5" class="loading-letter">
					E
				</span>
				<span id="loading-6" class="loading-letter">
					R
				</span>
				<span id="loading-7" class="loading-letter">
					S
				</span>
				<span id="loading-8" class="loading-letter">
					@
				</span><br>
				<span id="loading-9" class="loading-letter">
					T
				</span>
				<span id="loading-10" class="loading-letter">
					O
				</span>
				<span id="loading-11" class="loading-letter">
					M
				</span>
				<span id="loading-12" class="loading-letter">
					O
				</span>
				<span id="loading-13" class="loading-letter">
					R
				</span>
				<span id="loading-14" class="loading-letter">
					R
				</span>
				<span id="loading-15" class="loading-letter">
					O
				</span>
				<span id="loading-16" class="loading-letter">
					W
				</span>
				<span id="loading-17" class="loading-letter">
					.
				</span>
				<span id="loading-18" class="loading-letter">
					W
				</span>
				<span id="loading-19" class="loading-letter">
					O
				</span>
				<span id="loading-20" class="loading-letter">
					R
				</span>
				<span id="loading-21" class="loading-letter">
					L
				</span>
				<span id="loading-22" class="loading-letter">
					D
				</span>
			</div>
		</div>
		<img id="heading-img" src="../static/Home/ylead.png" alt="Card image cap" draggable="false">
		<div id="year-div">
			<h1 id="year">
				<strong>
					2019
				</strong>
			</h1>
		</div>
		<!--<div id="videos">
			<div id="video-link">
				<a id="dot"><i class="fas fa-play" style="line-height: 55px;"></i></a>
			</div>
		</div>
	-->	<div class="container" id="countdown-timer">
			<div class="col countdown-cell">
				<h1 class="countdown-value" id="countdown_days"></h1>
				<h4 class="countdown-unit">DAYS</h4>
			</div>
			<div class="col countdown-cell">
				<h1 class="countdown-value" id="countdown_hours"></h1>
				<h4 class="countdown-unit">HOURS</h4>
			</div>
			<div class="col countdown-cell">
				<h1 class="countdown-value" id="countdown_minutes"></h1>
				<h4 class="countdown-unit">MINUTES</h4>
			</div>
			<div class="col countdown-cell">
				<h1 class="countdown-value" id="countdown_seconds"></h1>
				<h4 class="countdown-unit">SECONDS</h4>
			</div>
			<h3 id="countdown-header">
				UNTIL THE START OF Y.LEAD 2019
			</h3>
		</div>
		<div id="modal-video-background">
			<div id="modal-video">
				<iframe id="massdance" width="100%" height="100%" src="https://www.youtube.com/embed/CS8qH4Wwdco" frameborder="10" allowscriptaccess="always" allowfullscreen></iframe>
			</div>
		</div>
		<footer class="container-fluid">
			<div class="row">
				<div id="copyright">
					<img class="img-responsive" src="../static/logo1.png" alt="Logo" draggable="false" width="20%"><br>
					Organised by River Valley High School, Singapore<br>
					Website created by the Y.LEAD Organising Committee. All rights reserved.
				</div>
				<div id="contacts">
					CONTACT US<br>
					<a href="https://www.instagram.com/y.leadofficial/"><i class="fab fa-instagram contacts-icon" draggable="false"></i></a>
					<a href="https://www.youtube.com/channel/UC0i1jQlubH4igqXM27k2_Mw"><i class="fab fa-youtube contacts-icon" draggable="false"></i></a>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="../static/Home/home.js"></script>
	
	
	</body><!--
		Coding done by Zhang Jikun
		Brought to you by Y.LEAD Publicity Committee
	--></html>
