<html>

<head>
<!--
YYYYY                   YYYYY   LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE               AAAAA               DDDDDDDDDDDDDDDD
  YYYYY               YYYYY     LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE              AAAAAAA              DDDDDDDDDDDDDDDDDDDDD
	YYYYY           YYYYY       LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE             AAAAAAAAA             DDDDDDDDDDDDDDDDDDDDDDDD
	  YYYYY       YYYYY         LLLLL                           EEEEE                                    AAAAA AAAAA            DDDDD            DDDDDDDDDD
		YYYYY   YYYYY           LLLLL                           EEEEE                                   AAAAA   AAAAA           DDDDD               DDDDDDDD
		  YYYYYYYYY             LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE          AAAAAAAAAAAAAAA          DDDDD                 DDDDDDD
			YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE         AAAAAAAAAAAAAAAAA         DDDDD                  DDDDDD
			YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE        AAAAAAAAAAAAAAAAAAA        DDDDD                 DDDDDDD
			YYYYY               LLLLL                           EEEEE                               AAAAA           AAAAA       DDDDD               DDDDDDDD
			YYYYY               LLLLL                           EEEEE                              AAAAA             AAAAA      DDDDD            DDDDDDDDDD
			YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE     AAAAA               AAAAA     DDDDDDDDDDDDDDDDDDDDDDDD
			YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE    AAAAA                 AAAAA    DDDDDDDDDDDDDDDDDDDDD
			YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE   AAAAA                   AAAAA   DDDDDDDDDDDDDDDD
-->

	<title>
		Learning Journeys
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<meta name="author" content="Zhang Jikun">
	<link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
	<link rel="stylesheet" type= "text/css" href="../static/programs/learning_journeys.css">
	<link href="../static/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/bootstrap.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../static/popper.js"></script>
	<script type="text/javascript" src="../static/bootstrap.js"></script>
</head>

<body>
	<div id="menu">
		<nav class="navbar navbar-light">
			<a class="navbar-brand" href="../templates/home.html" draggable="false">
				<img class="img-responsive" src="../static/logo.png" height="30" draggable="false">
			</a>
			<button id="menu-open" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button id="menu-close" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				&#10005;
			</button>
		</nav>
		<div class="collapse" id="navbar">
			<div id="accordion" role="tablist">
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="about">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#aboutc" aria-expanded="true" aria-controls="aboutc" draggable="false">
								ABOUT
							</a>
						</h4>
					</div>
					<div id="aboutc" class="collapse" role="tabpanel" aria-labelledby="about" data-parent="#accordion">
						<div class="card-body">	
							<a class="link" href="../templates/about.html" draggable="false">
								ABOUT Y.LEAD
							</a><br>
							<a class="link" href="../templates/themes.html" draggable="false">
								Y.LEAD THEMES
							</a><br>
							<a class="link" href="../templates/webisodes.html" draggable="false">
								WEBISODES
							</a><br>
							<!--<a class="link" href="/templates/principals_words.html" draggable="false">
								PRINCIPAL'S WORDS
							</a>--><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="programmes">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#programmesc" aria-expanded="true" aria-controls="programmesc" draggable="false">
								PROGRAMMES
							</a>
						</h4>
					</div>
					<div id="programmesc" class="collapse" role="tabpanel" aria-labelledby="programmes" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/programs.html">
								PROGRAMME FLOW
							</a><br>
							<a class="link" href="../templates/opening_ceremony.html" draggable="false">
								OPENING CEREMONY
							</a><br>
							<a class="link" href="../templates/leadership_character_development.html" draggable="false">
								LEADERSHIP CHARACTER DEVELOPMENT
							</a><br>
							<a class="link" href="../templates/learning_journeys.html" draggable="false">
								LEARNING JOURNEYS
							</a><br>
							<a class="link" href="../templates/fifteen_hours_challenge.html" draggable="false">
								15-HOUR CHALLENGE
							</a><br>
							<a class="link" href="../templates/panel_discussion.html" draggable="false">
								PANEL DISCUSSIONS
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="information">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#informationc" aria-expanded="true" aria-controls="informationc" draggable="false">
								INFORMATION
							</a>
						</h4>
					</div>
					<div id="informationc" class="collapse" role="tabpanel" aria-labelledby="information" data-parent="#accordion">
						<div class="card-body">
							<!--<a class="link" href="/templates/participating_schools.html" draggable="false">
								PARTICIPATING SCHOOLS
							</a><br>-->
							<a class="link" href="../templates/packing_list.html" draggable="false">
								PACKING LIST
							</a><br>
							<a class="link" href="../templates/questions_n_answers.html" draggable="false">
								QUESTIONS AND ANSWERS
							</a><br>
							<a class="link" href="../templates/documents_for_overseas_participants.html" draggable="false">
								DOCUMENTS FOR OVERSEAS PARTICIPANTS
							</a><br>
						</div>
					</div>
				</div>
				<!--<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="interviews">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#interviewsc" aria-expanded="true" aria-controls="interviewsc" draggable="false">
								INTERVIEWS
							</a>
						</h4>
					</div>
					<div id="interviewsc" class="collapse" role="tabpanel" aria-labelledby="interviewsc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="/templates/pre-event_interviews.html" draggable="false">
								PRE-EVENT INTERVIEWS
							</a><br>
							<a class="link" href="/templates/fam_lead.html" draggable="false">
								FAM LEAD
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="articles">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#articlesc" aria-expanded="true" aria-controls="articlesc" draggable="false">
								ARTICLES
							</a>
						</h4>
					</div>
					<div id="articlesc" class="collapse" role="tabpanel" aria-labelledby="articlesc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="/templates/smart_city.html" draggable="false">
								SMART CITY
							</a><br>
							<a class="link" href="/templates/changemakers.html" draggable="false">
								CHANGEMAKERS
							</a><br>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<!--
	<div id="ask" class="row">
		<div>
			<i class="far fa-comment-alt"></i>&nbsp;
		</div>
		<div>
			<a id="ask-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdRlsaZh9XVAyM3XoMN2t5ihVWnaX_2V0_jb8opIfZguNSKiQ/viewform" draggable="false">
				SEND FEEDBACK
			</a>
		</div>
	</div>
	-->
	<div id="content">
		<div class="container">
			<img id="img-circle" src="../static/programs/learning_journeys.png" draggable="false"><br>
			<h5 class="headings">
				Learning Journeys 学习之旅
			</h5>
			<div id="introduction">
				Participants will take part in customised programmes and visit key installations that form part of Singapore’s strategic plan to keep the country progressive and competitive while maintaining social harmony and retaining a shared heritage. Here are some information on the places that the participants will be visiting:
			</div>
			<div id="googleMap"></div>
			<div class="row" style="text-align: left; margin-top: 30px !important; color: white;">
				<div class="col-sm-3">
					<h3 class="">
						SMART CITY
					</h3><br>
				</div>
				<div class="col-sm-9">
					<div class="row" style="text-align: left;">
						<h3 class="">
							Fusionopolis
						</h3>
					
						<div id="fusionopolis">
							Fusionopolis is one of Singapore’s leading research hubs for Information and Communication Technologies. 
							Fusionopolis plays a pivotal role in developing key technologies that aid in creating a Smart City. 
							As Leaders of Tomorrow, participants will get the chance to learn about the endless possibilities that science and technology can bring, and the importance of taking the lead to harness and utilise technology to its fullest potential in order to improve our society.
							
						</div>
					</div>
					<div class="row" style="text-align: left; margin-top: 30px !important;">
						
						<h3 class="">
							Singapore Mobility Gallery
						</h3>
					
						<div id="singapore_mobility_gallery">
							Officially re-launched by Prime Minister Lee Hsien Loong on 19 September 2018, 
							Singapore Mobility Gallery features 7 exhibit zones that showcase various facets of Singapore’s dynamic and comprehensive land transport system.
							It gives a behind-the-scenes look at how the Land Transport Authority plans, designs and builds our transport system while balancing efficiency, liveability and inclusivity as it leverages technology for smarter urban mobility. Participants can look forward to an interesting learning experience through interactive games and virtual reality (VR) activities that give them insights into the roles people play in the transport industry.
							
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="text-align: left; margin-top: 30px !important; color: white;">
				<div class="col-sm-3">
					<h3 class="">
						HERITAGE AND COMMUNITY
					</h3><br>
				</div>
				<div class="col-sm-9">
					<div class="row" style="text-align: left;">
						<h3 class="">
							Singapore History Gallery @National Museum of Singapore

						</h3>
					
						<div id="singapore_history_gallery">
							The Singapore History Gallery is located within the vicinity of the National Museum of Singapore.
							The gallery adopts a storytelling approach, unveiling different perspectives, through tales of Singapore’s history, 
							into four main chapters- Singapura (1299 – 1818), Crown Colony (1819 – 1941), Syonan-To (1942 – 1945) and Singapore (1945 – present). 
							Participants are able to learn about the challenges Singapore faced in the past and how its leaders approached and solved the challenges. 
							This will equip them with different perspectives and skills in solving challenges which are crucial for Leaders of Tomorrow to possess.
						</div>
					</div>
					<div class="row" style="text-align: left; margin-top: 30px !important;">
						<h3 class="">
							Harmony in Diversity gallery
						</h3>
					
						<div id="Harmony in Diversity gallery">
							The Harmony in Diversity gallery was developed by the Ministry of Home Affairs and launched by former President Tony Tan Keng Yam on 
							2 September 2016. The Gallery aims to promote an appreciation of Singapore's rich religious diversity. 
							Participants are able to gain a deeper understanding of Singapore’s turbulent history due to many racial conflicts. 
							They will understand why it is important for them to be proud of and play a part in preserving our racial diversity and harmony as 
							Singapore has come a long way in achieving these. 
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="text-align: left; margin-top: 30px !important; color: white;">
				<div class="col-sm-3">
					<h3 class="">
						CHANGE MAKERS
					</h3><br>
				</div>
				<div class="col-sm-9">
					<div class="row" style="text-align: left;">
						<h3 class="">
							Singapore Maritime Gallery
						</h3>
						<div id="Singapore maritime gallery">
							The Singapore Maritime Gallery is a gallery which comprises the history of Singapore’s free port from the time when it was first 
							developed by the British in the 1800’s to becoming one of the busiest ports in the world today. 
							There are interactive exhibits to help participants comprehend how ships work. Through the informative exhibits, 
							participants will better understand how the maritime industry in Singapore has evolved and its importance to our economy.
						</div>
					</div>
					<div class="row" style="text-align: left; margin-top: 30px !important;">
					
						<h3 class="">
							Make The Change (MTC)
						</h3>
										
						<div id="Make the change">
							Make The Change is an innovative spin-off from the private design academy, M.A.D. School.
							MTC strongly believes in empowering and transforming the community through design, thus it organises programmes like Entrepreneurship 
							101 to inspire youths to become change makers within the community. Participants will understand how this social enterprise tackles 
							pertinent social problems in today’s world.
						</div>
					</div>
				</div>
			</div>
			<!--<div id="googleMap"></div>
		</div>
		<h5 class="headings">
			INSIGHTS
		</h5>
		<div id="reflections-all">
			<div>
				<a data-toggle="collapse" data-target="#reflections-1" aria-expanded="false" aria-controls="reflections-1">
					<div class="reflections-heading" id="reflections-heading-1">
						ACTION COMMUNITY FOR ENTREPRENEURSHIP
					</div>
				</a>
				<div id="reflections-1" class="reflections collapse" aria-labelledby="reflections-heading-1" data-parent="#reflections-all">
					<div class="reflections-content">
						<div class="carousel carousel-5 slide">
							<div id="reflection-1-1" class="item carousel-item-5-1">
								<div class="reflection-title">
									Uniqueness of Social Enterprises
								</div>
								<div class="reflection-text" id="text-1-1">
									We learnt that entrepreneurship differs in their area of focus. Social enterprises are startups which aim to bring about positive social changes, while striking a balance between the two bottom lines of profitability and achieving positive social impacts. On the other hand, common entrepreneurs only ideate creatively for new ideas to make it unique and outstanding from the others in the existing market, and their focus is on profits.
								</div>
							</div>
							<div id="reflection-1-2" class="item carousel-item-5-2">
								<div class="reflection-title">
									The &ldquo;Never Say Die Attitude&rdquo;
								</div>
								<div class="reflection-text" id="text-1-2">
									The opposite of success is not failing but giving up. In order to succeed, we have to persevere and keep on trying. Giving up will only hinder us from not realizing our fullest potential and keep you from moving forward. Entrepreneurs face much difficulties such as funding, partnership, and the lack of opportunities to break through. However, in order to be successful, we have to persevere despite those adversities and keep trying to move towards our goal. This is how a successful entrepreneur grow stronger in terms of mindset. An example would be the founders of Airfrov, when nobody knew about their ideas, but the founder, Mr Cai Li, chose not to give up and even went to the airport every weekend to do marketing and spread his ideas. Eventually his efforts paid off and his company achieved success.
								</div>
							</div>
							<div id="reflection-1-3" class="item carousel-item-5-3">
								<div class="reflection-title">
									Qualities of a Successful Entrepreneur 
								</div>
								<div class="reflection-text" id="text-1-3">
									From this learning journey, we have learnt about the skills and values inherent in an entrepreneur, like perseverance, courage, proactiveness, inclusiveness, problem solving skills etc. From the entrepreneurs' sharing, we learnt about the various challenges and obstacles they faced during the process of turning ideas into reality, and showed us how they used their skills and values to overcome these challenges. For example, Mr Cai Li, founder of Airfrov, shared about how his first project failed, but instead of giving up, he persevered, learnt from his mistakes, and embarked on another project with more takeaways and experience under his belt. Moreover, the crossroads activity has allowed us to have a first hand experience of the challenges and  decisions an entrepreneur has to face, allowing us to better understand how a successful entrepreneur thinks and feels.
								</div>
							</div>
							<div id="reflection-1-4" class="item carousel-item-5-4">
								<div class="reflection-title">
									The Importance of Risk Taking in Entrepreneurship towards Leading Change 
								</div>
								<div class="reflection-text" id="text-1-4">
									Entrepreneurs are at the forefront of leading change; only through risk taking, they would be able to breakthrough a certain market and achieve something different. It's important that we learn to take some risks if we personally think it’s the right choice at the right times. Every decision that we make has its benefits and undesirable consequences. Like entrepreneurs, we have to always think on our feet and weigh the pros and cons, in order to make the decision that would best benefit their startup. Nobody may know what might happen at the next moment as life is always full of unexpected events, and there might just be a turn of events. Therefore, as entrepreneurs, they would always have to take risks throughout the journey, and be sensitive to changes along the way in order to succeed. The risks taken may end up to be blessing in disguise.
								</div>
							</div>
							<div id="reflection-1-5" class="item carousel-item-5-5">
								<div class="reflection-title">
									Adaptability &amp; Mindset 
								</div>
								<div class="reflection-text" id="text-1-5">
									In the workforce, whether or not entrepreneurs, we should also be more adaptable and have the ability to change based on feedback, instead of sticking to only what we think is right. As the founders of CaptionCube and Airfrov have shared, what they look for in an employee is not the quality or quantity of his/her work, rather, the attitude and mindset an individual has towards learning. As long as one is willing to learn and improve, skills can be taught and improved along the way. 
								</div>
							</div>
						</div>
						<div class="next next5">Next</div>
						<div class="prev prev5">Prev</div>
					</div>
				</div>
			</div>
			<div>
				<a data-toggle="collapse" data-target="#reflections-2" aria-expanded="false" aria-controls="reflections-2">
					<div class="reflections-heading" id="reflections-heading-2">
						ECOTOWN@PUNGGOL
					</div>
				</a>
				<div id="reflections-2" class="reflections collapse" aria-labelledby="reflections-heading-2" data-parent="#reflections-all">
					<div class="reflections-content">
						<div class="carousel carousel-5 slide">
							<div id="reflection-2-1" class="item carousel-item-5-1">
								<div class="reflection-title">
									Renewable Energy
								</div>
								<div class="reflection-text" id="text-2-1">
									Punggol is eco-friendly and sustainable as it makes use of technology to create renewable energy. This feature is an important aspect in countering the problem of global warming, as it reduces the carbon footprint of housing estates in Singapore. For example, through the use of solar panels in a country with receives much solar energy, less non renewable energy is used to power electrical appliances such as lights and air conditioners. Such use of renewable energy helps us to conserve crucial resources, hence making sure that we will not run out of non-renewable resources such as fossil fuels. This will bring us get one step closer to achieving an increasingly efficient and sustainable way of living.
								</div>
							</div>
							<div id="reflection-2-2" class="item carousel-item-5-2">
								<div class="reflection-title">
									Environmental Changemaker
								</div>
								<div class="reflection-text" id="text-2-2">
									Punggol is the first town in the Singapore to have such eco friendly features, serving as a role model for future towns. It is thus a changemaker, as it makes use of a never-before-seen concept in which towns can be eco-friendly and sustainable. This will contribute to a domino effect. Countries all over the world can learn from this model, ensuring a sustainable and eco-friendly future. Changemakers like Punggol EcoTown will inspire others to do the same, thus sparking changes to an increasingly sustainable future. 
								</div>
							</div>
							<div id="reflection-2-3" class="item carousel-item-5-3">
								<div class="reflection-title">
									Inclusive Community and Community Bonding
								</div>
								<div class="reflection-text" id="text-2-3">
									Punggol provides a place for an inclusive community as there are amenities dedicated to different age groups. Features like car sharing allow adult neighbours to bond with each other and build positive relationships with one another. Community gardens, from which harvests can be shared, also allow for a sense of belonging, especially amongst the senior citizens. Playgrounds present also allow children to forge friendships within a safe enclosed area. This building of community spirit is important, as for the advancement of our nation, citizens will need to work hand-in-hand. 
								</div>
							</div>
							<div id="reflection-2-4" class="item carousel-item-5-4">
								<div class="reflection-title">
									Clean and Green Living Environments
								</div>
								<div class="reflection-text" id="text-2-4">
									Punggol also makes use of technology and modern day inventions that complement nature in the planning of EcoTown. Self-cleansing paint on the exterior of buildings is an example. The use of this recently invented paint has minimized the need for cleaning of the buildings, saving time, money and most importantly, water. The playground made of recycled materials, and even the design of the buildings at treelodge, are also eco-friendly features. The use of advanced technology and innovation in the precinct is not only beneficial to the environment, but also gives residents a beautiful and comfortable living environment. 
								</div>
							</div>
							<div id="reflection-2-5" class="item carousel-item-5-5">
								<div class="reflection-title">
									Inculcating Eco-Friendly Habits
								</div>
								<div class="reflection-text" id="text-2-5">
									EcoTown makes it more convenient for people to practice eco-friendly habits. For instance, recycling chutes are located beside normal general waste chutes to encourage residents to increase their recycling rates. Also, homes are fitted with wash basin-toilet pedestals and dual flush features, which allow for the saving of water. The car sharing feature also encourages eco-friendliness, as it allows people to carpool, thus reducing greenhouse gas emissions contributed by road travel. 
								</div>
							</div>
						</div>
						<div class="next next5">Next</div>
						<div class="prev prev5">Prev</div>
					</div>
				</div>
			</div>
			<div>
				<a data-toggle="collapse" data-target="#reflections-3" aria-expanded="false" aria-controls="reflections-3">
					<div class="reflections-heading" id="reflections-heading-3">
						EDIBLE GARDEN CITY
					</div>
				</a>
				<div id="reflections-3" class="reflections collapse" aria-labelledby="reflections-heading-3" data-parent="#reflections-all">
					<div class="reflections-content">
						<div class="carousel carousel-3 slide">
							<div id="reflection-3-1" class="item carousel-item-3-1">
								<div class="reflection-title">
									Renewable Energy
								</div>
								<div class="reflection-text" id="text-3-1">
									Punggol is eco-friendly and sustainable as it makes use of technology to create renewable energy. This feature is an important aspect in countering the problem of global warming, as it reduces the carbon footprint of housing estates in Singapore. For example, through the use of solar panels in a country with receives much solar energy, less non renewable energy is used to power electrical appliances such as lights and air conditioners. Such use of renewable energy helps us to conserve crucial resources, hence making sure that we will not run out of non-renewable resources such as fossil fuels. This will bring us get one step closer to achieving an increasingly efficient and sustainable way of living.
								</div>
							</div>
							<div id="reflection-3-2" class="item carousel-item-3-2">
								<div class="reflection-title">
									Environmental Changemaker
								</div>
								<div class="reflection-text" id="text-3-2">
									Punggol is the first town in the Singapore to have such eco friendly features, serving as a role model for future towns. It is thus a changemaker, as it makes use of a never-before-seen concept in which towns can be eco-friendly and sustainable. This will contribute to a domino effect. Countries all over the world can learn from this model, ensuring a sustainable and eco-friendly future. Changemakers like Punggol EcoTown will inspire others to do the same, thus sparking changes to an increasingly sustainable future. 
								</div>
							</div>
							<div id="reflection-3-3" class="item carousel-item-3-3">
								<div class="reflection-title">
									Inclusive Community and Community Bonding
								</div>
								<div class="reflection-text" id="text-3-3">
									Punggol provides a place for an inclusive community as there are amenities dedicated to different age groups. Features like car sharing allow adult neighbours to bond with each other and build positive relationships with one another. Community gardens, from which harvests can be shared, also allow for a sense of belonging, especially amongst the senior citizens. Playgrounds present also allow children to forge friendships within a safe enclosed area. This building of community spirit is important, as for the advancement of our nation, citizens will need to work hand-in-hand. 
								</div>
							</div>
						</div>
						<div class="next next3">Next</div>
						<div class="prev prev3">Prev</div>
					</div>
				</div>
			</div>
			<div>
				<a data-toggle="collapse" data-target="#reflections-4" aria-expanded="false" aria-controls="reflections-4">
					<div class="reflections-heading" id="reflections-heading-4">
						FUSIONWORLD
					</div>
				</a>
				<div id="reflections-4" class="reflections collapse" aria-labelledby="reflections-heading-4" data-parent="#reflections-all">
					<div class="reflections-content">
						<div class="carousel carousel-3 slide">
							<div id="reflection-4-1" class="item carousel-item-3-1">
								<div class="reflection-title">
									Problem solving and innovation is important for a progressing society
								</div>
								<div class="reflection-text" id="text-4-1">
									To be a smart city, we leverage on technology to lead meaningful and improved lives. This in turn creates economic opportunities in various fields such as Social, Environmental and Medical. An example of problem solving and innovation in Fusionworld would be SentiMo. It allows retailers and organisations to be more effective in retailing as it collates the people’s response and their associated emotions on various platforms such as social media and on news platforms. This allows the company to improve and made amendments to suit the customers. By understanding consumer behaviour, we are able to adapt and progress.
								</div>
							</div>
							<div id="reflection-4-2" class="item carousel-item-3-2">
								<div class="reflection-title">
									A changemaker requires mental flexibility, creativity, perseverance and passion 
								</div>
								<div class="reflection-text" id="text-4-2">
									We have learnt from the meet-the-scientist session that in order to be a changemaker, we would have to be think creatively. We cannot just be book smart and always have to be able to think out of box. Observing the things happening around you will give you a better impression of what problems there are in the world. You may also see how a solution in one context can be applied to another. This will then lead us to new ideas and suggestions. One must not only to have passion and continue to innovate, one must also strive for excellence and persevere on despite countless failures. It is really not easy, and it really inspired me to stretch my potential in my capacity as a student. 
								</div>
							</div>
							<div id="reflection-4-3" class="item carousel-item-3-3">
								<div class="reflection-title">
									Technology has had a huge impact on the health sector
								</div>
								<div class="reflection-text" id="text-4-3">
									We have learnt that technology brings a lot of convenience to our lives and it could also solve various health problems. We should think of different methods to leverage on technology to help us solve health issues to improve people’s lives. It also plays a part in helping the patients who suffer from problems such as ADHD and stress management issues,as well as allowing elderlies with Alzheimer’s disease early. Another example of technology aiding healthcare is The Brain Computer Interface (BCI). This invention is able to help people medically and contribute to the economy. The technology makes use of brain signals transmitted and computing where users have to concentrate to a certain level. There are different forms for the BCI, such as the headband and full cap, which can help different kinds of patients. Hospitals are able to make use of the full cap and BCI technology to help patients regain movement of limbs during rehabilitation. 
								</div>
							</div>
						</div>
						<div class="next next3">Next</div>
						<div class="prev prev3">Prev</div>
					</div>
				</div>
			</div>
			<div>
				<a data-toggle="collapse" data-target="#reflections-5" aria-expanded="false" aria-controls="reflections-5">
					<div class="reflections-heading" id="reflections-heading-5">
						INFO-COMMUNICATIONS MEDIA CENTRE
					</div>
				</a>
				<div id="reflections-5" class="reflections collapse" aria-labelledby="reflections-heading-5" data-parent="#reflections-all">
					<div class="reflections-content">
						<div class="carousel carousel-4 slide">
							<div id="reflection-5-1" class="item carousel-item-4-1">
								<div class="reflection-title">
									Technology is a double edged sword and still has limitations
								</div>
								<div class="reflection-text" id="text-5-1">
									We learn that even though technology is convenient and we can use it to improve our daily lives, it still has its limitations and may act as a double edged sword. Hence, we should minimise the unintended consequences of the limitations by improving our solutions/ ideas. We should also learn to embrace technology but not become over-reliant on them. 
								</div>
							</div>
							<div id="reflection-5-2" class="item carousel-item-4-2">
								<div class="reflection-title">
									The importance of Innovation 
								</div>
								<div class="reflection-text" id="text-5-2">
									We learnt that technology helps to upgrade our own skills and it is a part of our everyday lives. Thus, we must always be up to date with technology as the world is ever changing and constantly improving. As long as we are up to date with technology, we will be able to thrive as a smart city. For example, we personally tried out the telerehabilitation ping pong game aimed to help the elderly improve their agility and fitness. The elderly feel as though they are playing a real sports game right in their homes. 
								</div>
							</div>
							<div id="reflection-5-3" class="item carousel-item-4-3">
								<div class="reflection-title">
									Benefits of technology (VR)
								</div>
								<div class="reflection-text" id="text-5-3">
									After attending the VR workshop, we learnt about the uses and benefits of VR. For instance, Virtual Reality (VR) is now being used in social studies lessons in primary schools, where students can enjoy an on site visit experience to different places with heritage values within a short period of time. Even though they are not physically at those places, they would feel as though they are at the historical site. 
								</div>
							</div>
							<div id="reflection-5-4" class="item carousel-item-4-4">
								<div class="reflection-title">
									Qualities of a good changemaker
								</div>
								<div class="reflection-text" id="text-5-4">
									From the games we played during the learning trail, we learnt that it is important for the changemakers to know how to empathise with the people around them, know their needs and solve their problems, so as to allow for new breakthroughs that can make our lives easier and better. We also learnt that despite many new measures surfacing to tackle challenges faced on a daily basis, we cannot be complacent and must consistently derive new solutions so that there will always be progress. 
								</div>
							</div>
						</div>
						<div class="next next4">Next</div>
						<div class="prev prev4">Prev</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
	<footer class="container-fluid">
		<div class="row">
			<div id="copyright">
				<img class="img-responsive" src="../static/logo1.png" alt="Logo" width="20%" draggable="false"><br>
				Organised by River Valley High School, Singapore<br>
				Website created by the Y.LEAD Organising Committee. All rights reserved.
			</div>
			<div id="contacts">
				CONTACT US<br>
				<a href="https://www.instagram.com/y.leadofficial/"><i class="fab fa-instagram contacts-icon" draggable="false"></i></a>
				<a href="https://www.youtube.com/channel/UC0i1jQlubH4igqXM27k2_Mw"><i class="fab fa-youtube contacts-icon" draggable="false"></i></i></a>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="../static/programs/learning_journey.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUSxsqU3FYh8vd2eo07gDvTu01PVQthEg&callback=initMap" async defer></script>

</body>

<!--
	Coding done by Zhang Jikun
	Brought to you by Y.LEAD Publicity Committee
-->