<head>
<!--
YYYYY                   YYYYY   LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE               AAAAA               DDDDDDDDDDDDDDDD
  YYYYY               YYYYY     LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE              AAAAAAA              DDDDDDDDDDDDDDDDDDDDD
    YYYYY           YYYYY       LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE             AAAAAAAAA             DDDDDDDDDDDDDDDDDDDDDDDD
      YYYYY       YYYYY         LLLLL                           EEEEE                                    AAAAA AAAAA            DDDDD            DDDDDDDDDD
        YYYYY   YYYYY           LLLLL                           EEEEE                                   AAAAA   AAAAA           DDDDD               DDDDDDDD
          YYYYYYYYY             LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE          AAAAAAAAAAAAAAA          DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE         AAAAAAAAAAAAAAAAA         DDDDD                  DDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE        AAAAAAAAAAAAAAAAAAA        DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEE                               AAAAA           AAAAA       DDDDD               DDDDDDDD
            YYYYY               LLLLL                           EEEEE                              AAAAA             AAAAA      DDDDD            DDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE     AAAAA               AAAAA     DDDDDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE    AAAAA                 AAAAA    DDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE   AAAAA                   AAAAA   DDDDDDDDDDDDDDDD
-->

	<title>
		Pre-event Interviews
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
	<link rel="stylesheet" type= "text/css" href="../static/information/pre-event_interviews.css">
	<link href="../static/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/bootstrap.css">
	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/popper.js"></script>
	<script type="text/javascript" src="../static/bootstrap.js"></script>
</head>

<body>
	<div id="menu">
		<nav class="navbar navbar-light">
			<a class="navbar-brand" href="../templates/home.html" draggable="false">
				<img class="img-responsive" src="../static/logo.png" height="30" draggable="false">
			</a>
			<button id="menu-open" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button id="menu-close" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				&#10005;
			</button>
		</nav>
		<div class="collapse" id="navbar">
			<div id="accordion" role="tablist">
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="about">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#aboutc" aria-expanded="true" aria-controls="aboutc" draggable="false">
								ABOUT
							</a>
						</h4>
					</div>
					<div id="aboutc" class="collapse" role="tabpanel" aria-labelledby="about" data-parent="#accordion">
						<div class="card-body">	
							<a class="link" href="../templates/about.html" draggable="false">
								ABOUT Y.LEAD
							</a><br>
							<a class="link" href="../templates/themes.html" draggable="false">
								Y.LEAD THEMES
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="programmes">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#programmesc" aria-expanded="true" aria-controls="programmesc" draggable="false">
								PROGRAMMES
							</a>
						</h4>
					</div>
					<div id="programmesc" class="collapse" role="tabpanel" aria-labelledby="programmes" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/programs.html">
								PROGRAMME FLOW
							</a><br>
							<a class="link" href="../templates/opening_ceremony.html" draggable="false">
								OPENING CEREMONY
							</a><br>
							<a class="link" href="../templates/leadership_character_development.html" draggable="false">
								LEADERSHIP CHARACTER DEVELOPMENT
							</a><br>
							<a class="link" href="../templates/learning_journeys.html" draggable="false">
								LEARNING JOURNEYS
							</a><br>
							<a class="link" href="../templates/fifteen_hours_challenge.html" draggable="false">
								15 HOUR CHALLENGE
							</a><br>
							<a class="link" href="../templates/panel_discussion.html" draggable="false">
								PANEL DISCUSSION
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="information">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#informationc" aria-expanded="true" aria-controls="informationc" draggable="false">
								INFORMATION
							</a>
						</h4>
					</div>
					<div id="informationc" class="collapse" role="tabpanel" aria-labelledby="information" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/packing_list.html" draggable="false">
								PACKING LIST
							</a><br>
							<a class="link" href="../templates/questions_n_answers.html" draggable="false">
								QUESTIONS AND ANSWERS
							</a><br>
							<a class="link" href="../templates/documents_for_overseas_participants.html" draggable="false">
								DOCUMENTS FOR OVERSEAS PARTICIPANTS
							</a><br>
							<a class="link" href="../templates/pre-event_interviews.html" draggable="false">
								Pre-Event Interviews
							</a><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modal-tic" class="modal-background">
		<div class="modal-stuff">
			<span id="close-tic" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/tic1.png" height="300px" draggable="false">
					<div class="modal-name name1">
						MR KELVIN SIM
					</div>
					<div class="modal-title">
						Y.LEAD TEACHER IN CHARGE
					</div>
				</div>
				<div class="words col-lg">
					Y.LEAD is the perfect platform for students from all walks of life and all corners of the globe to come together for an enriching and memorable  journey of self discovery and learning. Along this leadership journey, I hope all of our participants will grow and develop into the leaders that inspired and motivated them.
				</div>
			</div>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/tic2.jpg" height="300px" draggable="false">
					<div class="modal-name name1">
						MR CHOW BAN HOE
					</div>
					<div class="modal-title">
						Y.LEAD TEACHER IN CHARGE
					</div>
				</div>
				<div class="words col-lg">
					Through out the five-day event, participants will learn about the global challenges faced by the urbanised society today. We hope these insights will add a different dimension to their understanding of their role as leaders of tomorrow’s world. We wish all participants a fruitful and enlightening experience at Y.LEAD 2019!
				</div>
			</div>
		</div>
	</div>
	<div id="modal-secretariat" class="modal-background">
		<div class="modal-stuff">
			<span id="close-secretariat" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/secretariat1.png" width="300px" draggable="false">
					<div class="modal-name name2">
						LEK KAI JUN
					</div>
					<div class="modal-title">
						CHAIRPERSON OF Y.LEAD 2019
					</div>
				</div>
				<div id="" class="words col-lg">
					Participants would experience a series of brain-wrecking games and programmes relevant to the real-world context of today's society. They would need to work together in order to solve the problems with creative approaches and maximise their benefits.<br><br>
 
					I wish that participants would become creative and adaptable leaders with foresight which enables them to predict changes and always be ready. Thereafter, they would be able to better prepare their teams and lead them to create miracles.
				</div>
			</div>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/secretariat2.png" width="300px" draggable="false">
					<div class="modal-name name2">
						GERALD ONG GIM HUA
					</div>
					<div class="modal-title">
						VICE CHAIRPERSON OF Y.LEAD 2019
					</div>
				</div>
				<div id="" class="words col-lg">
					Y.LEAD is a leadership seminar where leaders gathers together but more importantly Y.LEAD is a family, a home to me. The organising committee and facilitators spent countless hours and effort into bringing Y.LEAD to everyone. During the planning journey, there will definitely be obstacles and this is when the Y.LEAD family come together hand in hand to support one another.
				</div>
			</div>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/secretariat3.png" width="300px" draggable="false">
					<div class="modal-name name2">
						JAYMIE SEET EN TONG
					</div>
					<div class="modal-title">
						VICE CHAIRPERSON OF Y.LEAD 2019
					</div>
				</div>
				<div id="" class="words col-lg">
					I hope that Y.LEAD would be a platform for participants to have a wider view of our ever changing world, through relatable real-world context problem solving and critical thinking. We hope that everyone involved, including the organising committee, would be able to forge friendships and also enhance their leadership skills through this camp. We hope that everyone would work together in every challenge faced, regardless of race and culture, or strengths and weaknesses.
				</div>
			</div>
		</div>
	</div>
	<div id="modal-ceremony_n_invites" class="modal-background">
		<div class="modal-stuff">
			<span id="close-ceremony_n_invites" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/ceremony_n_invites1.png" height="300px" draggable="false">
					<div class="modal-name name1">
						HANNAH TEONG SOONG<br>JACK KHAI
					</div>
					<div class="modal-title">
						CEREMONY & INVITES
					</div>
				</div>
				<div class="words col-lg">
					As a small team of 11 creative and fun loving people, we are in-charge of the Opening Ceremony of Y.LEAD 2019, as well as some of the behind-the-scenes administrative action. We hope that everyone will be able to start off Y.LEAD with a bang and stay well throughout the seminar. Do look out for a special something we will be prepping for everyone on the final day! Hope to see everyone soon at the seminar!
				</div>
			</div>
		</div>
	</div>
	<div id="modal-hospitality" class="modal-background">
		<div class="modal-stuff">
			<span id="close-hospitality" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/hospitality1.png" height="300px" draggable="false">
					<div class="modal-name name2">
						WONG YOKE TING<br>CARMEN WONG KAI WEN
					</div>
					<div class="modal-title">
						HOSPITALITY
					</div>
				</div>
				<div class="words col-lg">
					Hospitality is the first and last group of organising committee members who will be greeting the overseas participants!<br><br>

					We cater every meal and expose overseas participants to the uniquely Singaporean food from a wide array of cultures. We promise to deliver the best and strive to leave no participants hungry or unsatisfied.<br><br>

					Apart from relishing in the meals, we aim to foster bonds and friendships between participants from different countries and schools. Overseas participants will have many takeaways from this seminar and definitely enjoy their stay here in Singapore. <br><br>

					“We might be small but we will give our all!”<br><br>
				</div>
			</div>
		</div>
	</div>
	<div id="modal-fifteen_hours_challenge" class="modal-background">
		<div class="modal-stuff">
			<span id="close-fifteen_hours_challenge" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/fifteen_hours_challenge1.png" height="300px" draggable="false">
					<div class="modal-name name1">
						COREA CHUA YING SHUANG<br>HO YU HAN 
					</div>
					<div class="modal-title">
						15 HOURS CHALLENGE
					</div>
				</div>
				<div class="words col-lg">
					15HC 2019<br>
					Arrival of the Extraterrestrials<br>

					Lohel little earthling, we are from A.I, a planet in a galaxy far far away. On Day 4 of your camp, we will arrive and place you in an immersive time-based challenge.<br><br>

					In your respective groups, you will be faced with various challenges that will put your knowledge and the skills you have acquired in the past few days to the test. It is a race against time where you must think critically and creatively, synergise as a team, work around the limitations of resources and surpass your personal limits.<br><br>

					We need your help to save our planet. <br>
					15 hours. No mistakes. No hesitation.
				</div>
			</div>
		</div>
	</div>
	<div id="modal-learning_journey" class="modal-background">
		<div class="modal-stuff">
			<span id="close-learning_journey" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/learning_journey1.png" height="300px" draggable="false">
					<div class="modal-name name2">
						CHENG PING ZHI<br>SNG SI MIN RACHEL
					</div>
					<div class="modal-title">
						LEARNING JOURNEY
					</div>
				</div>
				<div class="words col-lg">
					Our team is in charge of planning the learning journeys to various locations, and preparing the Learning Journey Booklets that you will receive. We hope that you will enjoy this journey with us, to learn more about the world we live in today and tomorrow.
				</div>
			</div>
		</div>
	</div>
	<div id="modal-publicity" class="modal-background">
		<div class="modal-stuff">
			<span id="close-publicity" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/publicity1.png" height="300px" draggable="false">
					<div class="modal-name name1">
						LOH HUI LIN<br>LEOW SHUEN LING
					</div>
					<div class="modal-title">
						PUBLICATIONS & MEDIA
					</div>
				</div>
				<div class="words col-lg">
					If you peak behind the camera, you will find the Publications and Media committee.  We strive to capture all your Y.LEAD memories such that your Y.LEAD experience will be everlasting.<br><br>

					Stay tune to our social media pages: Instagram @y.leadofficial for updates. Are you excited for Y.LEAD 2019 because we are ready to show you what we have installed. 
				</div>
			</div>
		</div>
	</div>
	<div id="modal-panel_discussion" class="modal-background">
		<div class="modal-stuff">
			<span id="close-panel_discussion" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/panel_discussion1.png" height="300px" draggable="false">
					<div class="modal-name name2">
						ONG WUI SHUEN & TAN XIN YI
					</div>
					<div class="modal-title">
						PANEL DISCUSSION
					</div>
				</div>
				<div class="words col-lg">
					As the Panel Discussions sub committee of Y.LEAD 2019. We hope to provide you with meaningful insights and different global perspectives from the various panelists. Be sure to ask endless questions and keep an open heart to get a deeper understanding of the global issues we face today.
				</div>
			</div>
		</div>
	</div>
	<div id="modal-facilitators" class="modal-background">
		<div class="modal-stuff">
			<span id="close-facilitators" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/facilitators1.png" height="300px" draggable="false">
					<div class="modal-name name1">
						NG JERALE<br>LIM LI XUAN LINETTE
					</div>
					<div class="modal-title">
						LEADERSHIP AND CHARACTER DEVELOPMENT FACILITATORS
					</div>
				</div>
				<div class="words col-lg">
					The committee that trains facilitators to embody the spirit of BREAD, to be spontaneous, always seeking to explore out of their comfort zone while not forgetting to be meticulous in their every move, and with utmost enthusiasm leave participants with a memory they won't forget for a long time to come. Presenting to you, LCD Facilitator Committee!
				</div>
			</div>
		</div>
	</div>
	<div id="modal-logistics" class="modal-background">
		<div class="modal-stuff">
			<span id="close-logistics" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/logistics1.png" height="300px" draggable="false">
					<div class="modal-name name2">
						SAMMY BON XIN MIN<br>JARREN OH MING RUI
					</div>
					<div class="modal-title">
						LEADERSHIP AND CHARACTER DEVELOPMENT LOGISTICS
					</div>
				</div>
				<div class="words col-lg">
					Y.LEAD Logistics Committee forms the backbone Y.LEAD. We work hand in hand with LCD Programmes and Facilitator committees to provide them with logistics required for the exciting games and activities which make Y.LEAD an unforgettable experience.<br><br>
 
					We are also in charge of planning the mass display, one of the highlights that embodies the theme of Y.LEAD 2019. It is an occasion where everyone gather to showcase their energy and fun-loving spirits. Do look out for the mass display and we will see you there!
				</div>
			</div>
		</div>
	</div>
	<div id="modal-programmes" class="modal-background">
		<div class="modal-stuff">
			<span id="close-programmes" class="close-button">&times;</span>
			<div class="row">
				<div class="profile col-md-auto">
					<img src="../static/information/programmes1.png" height="300px" draggable="false">
					<div class="modal-name name1">
						HONG XINNING<br>LEONG KAI JOON
					</div>
					<div class="modal-title">
						LEADERSHIP AND CHARACTER DEVELOPMENT PROGRAMMES
					</div>
				</div>
				<div class="words col-lg">
					We are a small group comprising of hardworking members who meticulously planned for some activities in Y.LEAD. Through Y.LEAD, you will not only learn how to become better leaders, but also how to work as a team and interact with friends from different countries and backgrounds. We hope that you will enjoy these activities and see you soon!
				</div>
			</div>
		</div>
	</div>
	<img id="heading" src="../static/information/pre-event_interviews.png" width="100%">
	<div id="content" class="container">
		<div class="row">
			<div id="interview-TIC" class="interview col-lg-6 box_1">
				<div class="description" id="description-TIC">
					<div class="title title1">
						TEACHERS-IN-CHARGE
					</div>
				</div>
			</div>
			<div id="interview-secretariat" class="interview col-lg-6 box_2">
				<div class="description" id="description-secretariat">
					<div class="title title2">
						CHAIRPERSONS
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="interview col-lg-4 box_1" id="interview-ceremony_n_invites">
				<div class="description" id="description-ceremony_n_invites">
					<div class="title title1">
						CEREMONY & INVITES
					</div>
				</div>
			</div>
			<div class="interview col-lg-4 box_2" id="interview-hospitality">
				<div class="description" id="description-hospitality">
					<div class="title title2">
						HOSPITALITY
					</div>
				</div>
			</div>
			<div class="interview col-lg-4 box_1" id="interview-fifteen_hours_challenge">
				<div class="description" id="description-fifteen_hours_challenge">
					<div class="title title1">
						15 HOURS CHALLENGE
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="interview col-lg-4 box_2" id="interview-learning_journey">
				<div class="description" id="description-learning_journey">
					<div class="title title2">
						LEARNING JOURNEY
					</div>
				</div>
			</div>
			<div class="interview col-lg-4 box_1" id="interview-publicity">
				<div class="description" id="description-publicity">
					<div class="title title1">
						PUBLICATIONS & MEDIA
					</div>
				</div>
			</div>
			<div class="interview col-lg-4 box_2" id="interview-panel_discussion">
				<div class="description" id="description-panel_discussion">
					<div class="title title2">
						PANEL DISCUSSION
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="interview col-lg-4 box_1" id="interview-facilitators">
				<div class="description" id="description-facilitators">
					<div class="title title1">
						LCD FACILITATORS
					</div>
				</div>
			</div>
			<div class="interview col-lg-4 box_2" id="interview-programmes">
				<div class="description" id="description-programmes">
					<div class="title title2">
						LCD PROGRAMMES
					</div>
				</div>
			</div>
			<div class="interview col-lg-4 box_1" id="interview-logistics">
				<div class="description" id="description-logistics">
					<div class="title title1">
						LCD LOGISTICS
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container-fluid">
		<div class="row">
			<div id="copyright">
				<img class="img-responsive" src="../static/logo1.png" alt="Logo" width="20%" draggable="false"><br>
				Organised by River Valley High School, Singapore<br>
				Website created by the Y.LEAD Organising Committee. All rights reserved.
			</div>
			<div id="contacts">
				CONTACT US<br>
				<a href="https://www.instagram.com/y.leadofficial/"><i class="fab fa-instagram contacts-icon" draggable="false"></i></a>
				<a href="https://www.youtube.com/channel/UC0i1jQlubH4igqXM27k2_Mw"><i class="fab fa-youtube contacts-icon" draggable="false"></i></i></a>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="../static/information/pre-event_interviews.js"></script>
</body>

<!--
	Coding done by Zhang Jikun
	Brought to you by Y.LEAD Publicity Committee
-->
