<head>
<!--
YYYYY                   YYYYY   LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE               AAAAA               DDDDDDDDDDDDDDDD
  YYYYY               YYYYY     LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE              AAAAAAA              DDDDDDDDDDDDDDDDDDDDD
    YYYYY           YYYYY       LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE             AAAAAAAAA             DDDDDDDDDDDDDDDDDDDDDDDD
      YYYYY       YYYYY         LLLLL                           EEEEE                                    AAAAA AAAAA            DDDDD            DDDDDDDDDD
        YYYYY   YYYYY           LLLLL                           EEEEE                                   AAAAA   AAAAA           DDDDD               DDDDDDDD
          YYYYYYYYY             LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE          AAAAAAAAAAAAAAA          DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE         AAAAAAAAAAAAAAAAA         DDDDD                  DDDDDD
            YYYYY               LLLLL                           EEEEEEEEEEEEEEEEEEEEEEEEEEEEE        AAAAAAAAAAAAAAAAAAA        DDDDD                 DDDDDDD
            YYYYY               LLLLL                           EEEEE                               AAAAA           AAAAA       DDDDD               DDDDDDDD
            YYYYY               LLLLL                           EEEEE                              AAAAA             AAAAA      DDDDD            DDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE     AAAAA               AAAAA     DDDDDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE    AAAAA                 AAAAA    DDDDDDDDDDDDDDDDDDDDD
            YYYYY               LLLLLLLLLLLLLLLLLLLLLLLLLLLLL   EEEEEEEEEEEEEEEEEEEEEEEEEEEEE   AAAAA                   AAAAA   DDDDDDDDDDDDDDDD
-->

	<title>
		questions &amp; Answers
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
	<link rel="stylesheet" type= "text/css" href="../static/information/questions_n_answers.css">
	<link href="../static/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/bootstrap.css">
	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/popper.js"></script>
	<script type="text/javascript" src="../static/bootstrap.js"></script>
</head>

<body>
	<div id="menu">
		<nav class="navbar navbar-light">
			<a class="navbar-brand" href="../templates/home.html" draggable="false">
				<img class="img-responsive" src="../static/logo.png" height="30" draggable="false">
			</a>
			<button id="menu-open" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button id="menu-close" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
				&#10005;
			</button>
		</nav>
		<div class="collapse" id="navbar">
			<div id="accordion" role="tablist">
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="about">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#aboutc" aria-expanded="true" aria-controls="aboutc" draggable="false">
								ABOUT
							</a>
						</h4>
					</div>
					<div id="aboutc" class="collapse" role="tabpanel" aria-labelledby="about" data-parent="#accordion">
						<div class="card-body">	
							<a class="link" href="../templates/about.html" draggable="false">
								ABOUT Y.LEAD
							</a><br>
							<a class="link" href="../templates/themes.html" draggable="false">
								Y.LEAD THEMES
							</a><br>
							<!--<a class="link" href="../templates/principals_words.html" draggable="false">
								PRINCIPAL'S WORDS
							</a><br>-->
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="programmes">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#programmesc" aria-expanded="true" aria-controls="programmesc" draggable="false">
								PROGRAMMES
							</a>
						</h4>
					</div>
					<div id="programmesc" class="collapse" role="tabpanel" aria-labelledby="programmes" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/programs.html">
								PROGRAMME FLOW
							</a><br>
							<a class="link" href="../templates/opening_ceremony.html" draggable="false">
								OPENING CEREMONY
							</a><br>
							<a class="link" href="../templates/leadership_character_development.html" draggable="false">
								LEADERSHIP CHARACTER DEVELOPMENT
							</a><br>
							<a class="link" href="../templates/learning_journeys.html" draggable="false">
								LEARNING JOURNEYS
							</a><br>
							<a class="link" href="../templates/fifteen_hours_challenge.html" draggable="false">
								15 HOUR CHALLENGE
							</a><br>
							<a class="link" href="../templates/panel_discussion.html" draggable="false">
								PANEL DISCUSSION
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="information">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#informationc" aria-expanded="true" aria-controls="informationc" draggable="false">
								INFORMATION
							</a>
						</h4>
					</div>
					<div id="informationc" class="collapse" role="tabpanel" aria-labelledby="information" data-parent="#accordion">
						<div class="card-body">
							<!--<a class="link" href="../templates/participating_schools.html" draggable="false">
								PARTICIPATING SCHOOLS
							</a><br>-->
							<a class="link" href="../templates/packing_list.html" draggable="false">
								PACKING LIST
							</a><br>
							<a class="link" href="../templates/questions_n_answers.html" draggable="false">
								QUESTIONS AND ANSWERS
							</a><br>
							<a class="link" href="../templates/documents_for_overseas_participants.html" draggable="false">
								DOCUMENTS FOR OVERSEAS PARTICIPANTS
							</a><br>
						</div>
					</div>
				</div>
				<!--<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="interviews">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#interviewsc" aria-expanded="true" aria-controls="interviewsc" draggable="false">
								INTERVIEWS
							</a>
						</h4>
					</div>
					<div id="interviewsc" class="collapse" role="tabpanel" aria-labelledby="interviewsc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/pre-event_interviews.html" draggable="false">
								PRE-EVENT INTERVIEWS
							</a><br>
							<a class="link" href="../templates/fam_lead.html" draggable="false">
								FAM LEAD
							</a><br>
						</div>
					</div>
				</div>
				<div class="card menu-card">
					<div class="card-header menu-card-header" role="tab" id="articles">
						<h4>
							<a class="link-header" data-toggle="collapse" href="#articlesc" aria-expanded="true" aria-controls="articlesc" draggable="false">
								ARTICLES
							</a>
						</h4>
					</div>
					<div id="articlesc" class="collapse" role="tabpanel" aria-labelledby="articlesc" data-parent="#accordion">
						<div class="card-body">
							<a class="link" href="../templates/smart_city.html" draggable="false">
								SMART CITY
							</a><br>
							<a class="link" href="../templates/changemakers.html" draggable="false">
								CHANGEMAKERS
							</a><br>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<img id="heading" src="../static/information/questions_n_answers.png" width="100%" draggable="false">
	<div id="content" class="container">
		<h5 class="headings">
			INTRODUCTION
		</h5>
		<div id="description">
			Feel free to submit a question here about the event.Only questions which are appropriate and relevant would be answered. Posts will NOT include the details of the submitter.
		</div>
		<h5 class="headings">
			QUESTIONS &amp; ANSWERS
		</h5>
		<div id="qnas">
			<div class="qna">
				<a id="question-link-1" class="question-link" data-toggle="collapse" data-target="#answer-1" aria-expanded="false" aria-controls="answer-1">
					<div class="question row" id="question-1">
						<div class="col-auto">
							<i class="fas fa-angle-right" id="arrow-1"></i>
						</div>
						<div class="col">
							Will couple dance be brought back for this year's mass dance?
						</div>
					</div>
				</a>
				<div class="answer collapse" id="answer-1" aria-labelledby="question-1" data-parent="#qnas">
					We will not be bringing back the couple dance this year.
				</div>
			</div>
			<!--<div class="qna">
				<a id="question-link-2" class="question-link" data-toggle="collapse" data-target="#answer-2" aria-expanded="false" aria-controls="answer-2">
					<div class="question row" id="question-2">
						<div class="col-auto">
							<i class="fas fa-angle-right" id="arrow-2"></i>
						</div>
						<div class="col">
							When will we be be able to know our Y.LEAD groupings?
						</div>
					</div>
				</a>
				<div class="answer collapse" id="answer-2" aria-labelledby="question-2" data-parent="#qnas">
					We have released the groupings as of the 28th of February to all paricipants.
				</div>
			</div>-->
			<div class="qna">
				<a id="question-link-3" class="question-link" data-toggle="collapse" data-target="#answer-3" aria-expanded="false" aria-controls="answer-3">
					<div class="question row" id="question-3">
						<div class="col-auto">
							<i class="fas fa-angle-right" id="arrow-3"></i>
						</div>
						<div class="col">
							What does Y.LEAD aim to train Sec 3s in?
						</div>
					</div>
				</a>
				<div class="answer collapse" id="answer-3" aria-labelledby="question-3" data-parent="#qnas">
					The objective of the event can be found on the website so do check it out!
				</div>
			</div>
			<div class="qna">				
				<a id="question-link-4" class="question-link" data-toggle="collapse" data-target="#answer-4" aria-expanded="false" aria-controls="answer-4">
					<div class="question row" id="question-4">
						<div class="col-auto">
							<i class="fas fa-angle-right" id="arrow-4"></i>
						</div>
						<div class="col">
							What is the cultural appreciation segment about?
						</div>
					</div>
				</a>
				<div class="answer collapse" id="answer-4" aria-labelledby="question-4" data-parent="#qnas">
					It will be an activity where we will get to learn the different cultures of the participants. There will be different booths set up and performancres put up by the participants from the various countries.
				</div>
			</div>
			<!--<div class="qna">
				<a id="question-link-5" class="question-link" data-toggle="collapse" data-target="#answer-5" aria-expanded="false" aria-controls="answer-5">
					<div class="question row" id="question-5">
						<div class="col-auto">
							<i class="fas fa-angle-right" id="arrow-5"></i>
						</div>
						<div class="col">
							When will the mass dance MV be released?
						</div>
					</div>
				</a>
				<div class="answer collapse" id="answer-5" aria-labelledby="question-5" data-parent="#qnas">
					It will be released on our official Y.LEAD 2018 website main page and our youtube channel by the 1st of March.
				</div>
			</div>-->
			<div class="qna">
				<a id="question-link-6" class="question-link" data-toggle="collapse" data-target="#answer-6" aria-expanded="false" aria-controls="answer-6">
					<div class="question row" id="question-6">
						<div class="col-auto">
							<i class="fas fa-angle-right" id="arrow-6"></i>
						</div>
						<div class="col">
							Can heels be worn to commencement night?
						</div>
					</div>
				</a>
				<div class="answer collapse" id="answer-6" aria-labelledby="question-6" data-parent="#qnas">
					It will not be recommented to wear high heels as there will be quite a lot of movement throughtout the celebration night. In order to minimise accidents and injuries, wearing flats or normal sport shoes would be more suitable.
				</div>
			</div>
		</div>
	</div>
	<footer class="container-fluid">
		<div class="row">
			<div id="copyright">
				<img class="img-responsive" src="../static/logo1.png" alt="Logo" width="20%" draggable="false"><br>
				Organised by River Valley High School, Singapore<br>
				Website created by the Y.LEAD Organising Committee. All rights reserved.
			</div>
			<div id="contacts">
				CONTACT US<br>
				<a href="https://www.instagram.com/y.leadofficial/"><i class="fab fa-instagram contacts-icon" draggable="false"></i></a>
				<a href="https://www.youtube.com/channel/UC0i1jQlubH4igqXM27k2_Mw"><i class="fab fa-youtube contacts-icon" draggable="false"></i></i></a>
			</div>
		</div>
	</footer>
	<script src="../static/information/questions_n_answers.js"></script>
</body>

<!--
	Coding done by Zhang Jikun
	Brought to you by Y.LEAD Publicity Committee
-->